<div class="footer text-muted">
    <%= t(:copyright) %> &copy; 2016 <%= link_to 'Sao-ee.vn', root_path, target: "_blank" %><br/>
    <%= t(:design_by) %> <%= link_to "Hoang Khang Incotech", "http://hoangkhang.com.vn/home/", target: "_blank" %>
</div>