<div class="sidebar-user">
    <div class="category-content">
        <div class="media">
            <a href="#" class="media-left" title="<%= t(:my_profile) %>"><img src="/backend/assets/images/logo_admin.png" class="img-circle img-sm" alt=""></a>
            <div class="media-body">
                <span class="media-heading text-semibold"><%= t(:admin) %></span>
                <div class="text-size-mini text-muted">
                    <i class="icon-pin text-size-small"></i> &nbsp;<%= t(:location) %>
                </div>
            </div>

            <div class="media-right media-middle">
                <ul class="icons-list">
                    <li>
                        <a href="#" title="<%= t(:account_settings) %>"><i class="icon-cog3"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>