.font-content {
	font-weight: normal;
    text-transform: none;
    text-align: justify;
    display: block;
}
.joosa.fusection1 .one_fourth {
	margin-right: 18.33%;
}
.servicespage_section {
	padding: 0px 0px;
}
@media only screen and (max-width: 479px){
	#top-nav #fixed-nav li a {
		height: 40px;
	    line-height: 50px;
	    padding: 0 3px;
	    font-size: 12px;
	}
}
.portfolioFilter {
	display: none;
}
.mar_top5 {
	margin-top: 0px;
}
#trueHeader #logo {
	background: url(../images/logo.png) no-repeat left -28px/134px;
}
#trueHeader #logo {
    height: 70px;
    margin-top: 0;
}
.fluidHeight {
	margin-top: 0 !important;
}
.iosSlider .slide_one {
	padding-top: 0 !important;
}
.blocklabel {
    float: left;
    width: 22%;
    display: block;
    margin-top: 10px;
}
.input_bg {
    float: left;
    width: 75%;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    padding: 0px 0px 0px 10px;
    border-top: 2px solid #e1e1e1;
    border-left: 2px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.textarea_bg {
    float: left;
    width: 73%;
    height: 100px;
    padding: 7px 10px 0px 10px;
    margin-bottom: 20px;
    border-top: 2px solid #e1e1e1;
    border-left: 2px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.input-contact {
	width: 100%;
	margin-bottom: 0.8em;
	height: 32px;
}
.comment_submit {
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 9px 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border-radius: 4px;
    color: #333;
    text-transform: uppercase;
	float: right;
}
.comment_submit:hover {
	background-color: #f9f9f9;
	cursor: pointer;
}
.success {
	color: #1ea133;
	border-color: #a9ecb4;
	background-color: #dffbe4;
}
.success {
	margin-top: 50px;
    border-radius: 0px;
    border: 1px solid #bbb;
    margin-bottom: 20px;
    font-size: 13px;
}
.message-box-wrap {
    border: 0px solid #fff;
    padding: 10px;
}
.joosa.features2.services_slider_sec1 {
    background-color: #83b618;
}
.joosa.features2.services_slider_sec1 .container .right h3 {
	font-weight: 400;
    color: #fff;
}
.joosa.features2.services_slider_sec1 .container .right h2 {
	font-weight: bold;
}
.joosa.features2 .right p {
	
}
.joosa .container h3 {
	font-weight: bold;
}
div#contact .container .one_half.last h3 {
    text-transform: uppercase;
}
#top-nav #fixed-nav li a {
	font-weight: 500;
}
.aboutpage_section .joosa .container p img {
    max-width: 100%;
}
.joosa.featrures2 .container .right .button1 a.more_but {
    max-width: 100%;
}
.joosa.features2 .right .more_but {
	max-width: 100%;
}
@media only screen and (max-width: 479px){
	.joosa.features2 .right .more_but {
		font-size: 11px;
	}
	#top-nav #fixed-nav li a {
		font-size: 10px;
	}	
	#trueHeader #logo {
		height: 40px;
	}
	#trueHeader #logo {
		background: url(../images/logo.png) no-repeat left -18px/80px;
	}
	#header .one_fourth {
		margin-bottom: 0px;
		padding-left: 105px;/*?*/
	}
	.blocklabel, .input_bg {
		width: 100%;
		padding: 0px;
	}
	.textarea_bg {
		width: 96%;
		padding: 7px 0px 0px 10px;
	}
}
.margin_sao {
    margin-top: 4%;
}