
.pagination span, .pagination a {
    font-size: 12px;
    color: #454545;
    background-color: #eee;
    font-weight: 600;
    text-transform: uppercase;
    padding: 7px 10px;
    border-radius: 3px;
    float: left;
}
.pagination li.prev.disabled {
    font-size: 12px;
    color: #454545;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0px 10px;
    border-radius: 3px;
}
.pagination li span, .pagination li a {
    margin-right: 4px;
}
.pagination span {
    color: #fff;
    background-color: #454545;
}
.pagination li.prev span, .pagination li.next span {
    display: none;
}