<div class="tp-banner-container">
    <div class="tp-banner" >
    
        <ul>
            <!-- SLIDE 1 -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="800" >
            
                <!-- MAIN IMAGE -->
                <img src="/frontend/layout2/images/slide_show-1.jpg" alt="slidebg1"  data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">

                <div class="tp-caption customout sfr"
                    data-x="right" data-hoffset="0"
                    data-y="0"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="800"
                    data-start="900"
                    data-easing="Power4.easeOut"
                    data-endspeed="500"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on"
                    style="z-index: 3"><img src="/frontend/layout2/images/slideshow-small-01.jpg" alt="670x500">
                </div>
                
                <div class="tp-caption mediumlarge_light_white skewfromleft customout"
                    data-x="0"
                    data-y="125"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="800"
                    data-start="1500"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on"
                    style="z-index: 6; color: #ff0000;">Energy Efficiency
                </div>
                
                <div class="tp-caption large_bold_white customin ltl"
                    data-x="0"
                    data-y="170"
                    data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                    data-speed="1000"
                    data-start="1800"
                    data-easing="Back.easeInOut"
                    data-endspeed="400"
                    data-endeasing="Back.easeIn"
                    style="z-index: 14; color: #098a00;">Simulation-Analysis-Optimization<strong></strong>
                </div>

                <div class="tp-caption medium_light_white skewfromright customout"
                    data-x="0"
                    data-y="245"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="800"
                    data-start="2700"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on"
                    style="z-index: 6">Thiết kế, xây dựng và quản lý một tòa nhà tiết kiệm năng <br />
                                      lượng có thể là một nhiệm vụ phức tạp và khó khăn. Mô phỏng [...]
                </div>
                 
                <div class="tp-caption customin ltl"
                    data-x="0"
                    data-y="340"
                    data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                    data-speed="1000"
                    data-start="3000"
                    data-easing="Back.easeInOut"
                    data-endspeed="400"
                    data-endeasing="Back.easeIn"
                    style="z-index: 16"><a href="<%= url_for(controller: 'home', action: 'sao') %>" class="button_slider"><i class="fa fa-hand-o-right"></i>&nbsp; chi tiết </a>
                </div>
                
                <div class="tp-caption customin ltl"
                    data-x="200"
                    data-y="340"
                    data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                    data-speed="1000"
                    data-start="3000"
                    data-easing="Back.easeInOut"
                    data-endspeed="400"
                    data-endeasing="Back.easeIn"
                    style="z-index: 16">
                </div>
                
            </li>
            
            <!-- SLIDE 2 -->
            <!--<li data-transition="zoomout" data-slotamount="7" data-masterspeed="800" >
            
                <!-- MAIN IMAGE -->
            <!--    <img src="http://placehold.it/1920x500" alt="slidebg1"  data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
                
                <div class="tp-caption mediumlarge_light_white skewfromleft customout"
                    data-x="0"
                    data-y="125"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="800"
                    data-start="900"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on"
                    style="z-index: 6">5 Diffrent Websites
                </div>
                
                <div class="tp-caption large_bold_white customin ltl"
                    data-x="0"
                    data-y="170"
                    data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                    data-speed="1000"
                    data-start="1000"
                    data-easing="Back.easeInOut"
                    data-endspeed="400"
                    data-endeasing="Back.easeIn"
                    style="z-index: 14">Get <strong>Smarter Stuff!</strong>
                </div>

                <div class="tp-caption medium_light_white skewfromright customout"
                    data-x="0"
                    data-y="245"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="800"
                    data-start="1800"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on"
                    style="z-index: 6">Providing credible health information supportive community. <br />Keep your workforce healthy and We care about you.
                </div>
                 
                <div class="tp-caption customin ltl"
                    data-x="0"
                    data-y="340"
                    data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                    data-speed="1000"
                    data-start="2200"
                    data-easing="Back.easeInOut"
                    data-endspeed="400"
                    data-endeasing="Back.easeIn"
                    style="z-index: 16"><a href="#" class="button_slider"><i class="fa fa-hand-o-right"></i>&nbsp; buy theme </a>
                </div>
                
                <div class="tp-caption customin ltl"
                    data-x="200"
                    data-y="340"
                    data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                    data-speed="1000"
                    data-start="2300"
                    data-easing="Back.easeInOut"
                    data-endspeed="400"
                    data-endeasing="Back.easeIn"
                    style="z-index: 16"><a href="#" class="button_slider_02"><i class="fa fa-location-arrow"></i>&nbsp; get started</a>
                </div>
                
            </li>-->
            
            <!-- SLIDE 3 -->
            <!--<li data-transition="slidedown" data-slotamount="7" data-masterspeed="800" >
            
                <!-- MAIN IMAGE -->
            <!--    <img src="http://placehold.it/1920x500" alt="slidebg1"  data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
                
                <div class="tp-caption mediumlarge_light_white skewfromleft customout"
                    data-x="0"
                    data-y="125"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="800"
                    data-start="900"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on"
                    style="z-index: 6">Professional Design &amp; Developed
                </div>
                
                <div class="tp-caption large_bold_white customin ltl"
                    data-x="0"
                    data-y="170"
                    data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                    data-speed="1000"
                    data-start="1000"
                    data-easing="Back.easeInOut"
                    data-endspeed="400"
                    data-endeasing="Back.easeIn"
                    style="z-index: 14">Responsive <strong>Themes</strong>
                </div>

                <div class="tp-caption medium_light_white skewfromright customout"
                    data-x="0"
                    data-y="245"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="800"
                    data-start="1800"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on"
                    style="z-index: 6">Providing credible health information supportive community. <br />Keep your workforce healthy and We care about you.
                </div>
                 
                <div class="tp-caption customin ltl"
                    data-x="0"
                    data-y="340"
                    data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                    data-speed="1000"
                    data-start="2200"
                    data-easing="Back.easeInOut"
                    data-endspeed="400"
                    data-endeasing="Back.easeIn"
                    style="z-index: 16"><a href="#" class="button_slider"><i class="fa fa-hand-o-right"></i>&nbsp; buy theme </a>
                </div>
                
                <div class="tp-caption customin ltl"
                    data-x="200"
                    data-y="340"
                    data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                    data-speed="1000"
                    data-start="2300"
                    data-easing="Back.easeInOut"
                    data-endspeed="400"
                    data-endeasing="Back.easeIn"
                    style="z-index: 16"><a href="#" class="button_slider_02"><i class="fa fa-location-arrow"></i>&nbsp; get started</a>
                </div>
                
            </li>-->
            
            <!-- SLIDE 4 -->
            <li data-transition="slideup" data-slotamount="7" data-masterspeed="800" >
            
                <!-- MAIN IMAGE -->
                <img src="/frontend/layout2/images/slide_show-1.jpg" alt="slidebg1"  data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
                
                <div class="tp-caption large_bold_white customin ltl"
                    data-x="0"
                    data-y="170"
                    data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                    data-speed="1000"
                    data-start="1000"
                    data-easing="Back.easeInOut"
                    data-endspeed="400"
                    data-endeasing="Back.easeIn"
                    style="z-index: 6; color: #098a00;">Simulation-Analysis-Optimization
                </div>
                
                <div class="tp-caption mediumlarge_light_white skewfromleft customout"
                    data-x="0"
                    data-y="125"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="800"
                    data-start="900"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on"
                    style="z-index: 14; color: #ff0000;">Energy Efficiency
                </div>

                <div class="tp-caption medium_light_white skewfromright customout"
                    data-x="0"
                    data-y="245"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="800"
                    data-start="1800"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on"
                    style="z-index: 6">Thiết kế, xây dựng và quản lý một tòa nhà tiết kiệm năng <br />
                                      lượng có thể là một nhiệm vụ phức tạp và khó khăn. Mô phỏng [...]
                </div>
                 
                <div class="tp-caption customin ltl"
                    data-x="0"
                    data-y="340"
                    data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                    data-speed="1000"
                    data-start="2200"
                    data-easing="Back.easeInOut"
                    data-endspeed="400"
                    data-endeasing="Back.easeIn"
                    style="z-index: 16"><a href="<%= url_for(controller: 'home', action: 'sao') %>" class="button_slider"><i class="fa fa-hand-o-right"></i>&nbsp; Chi tiết </a>
                </div>
                
                <div class="tp-caption customin ltl"
                    data-x="200"
                    data-y="340"
                    data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                    data-speed="1000"
                    data-start="2300"
                    data-easing="Back.easeInOut"
                    data-endspeed="400"
                    data-endeasing="Back.easeIn"
                    style="z-index: 16">
                </div>
                
            </li>
               
        </ul>

    </div>
</div>