<!-- Slider -->

	<div class="container_full">

		<div class="fullwidthbanner-container">
		
			<div class="fullwidthbanner">
				
				<ul>
                  <% @slides.each do |item| %>
					<!-- SLIDE 1 -->
					<li data-transition="fade" data-slotamount="9" data-thumb="<%= item.image_url.slider_image %>">
		
						<img src="<%= item.image_url.slider_image %>" alt="1920x580" />
		
						<!--<div class="caption sfr" data-x="735" data-y="80" data-speed="900" data-start="900" data-easing="easeOutSine"><img src="/frontend/images/slide-02.jpg" alt="600x580" /></div>-->
		
						<div class="caption sfr stb large_text" data-x="0" data-y="175" data-speed="900" data-start="700" data-easing="easeOutExpo"> <b style="color: #098a00;text-transform:capitalize;font-size:90%">Simulation-Analysis-Optimization</b></div>
		
						<div class="caption sfr stb small_text" data-x="0" data-y="246" data-speed="900" data-start="1200" data-easing="easeOutExpo" style="color: #ff0000;font-weight:bold;">Energy Efficiency</div>
		
						<div class="caption sfr stb vary_small_text" data-x="0" data-y="297" data-speed="900" data-start="1700" data-easing="easeOutExpo"></div>
		
						<div class="caption lfb" data-x="0" data-y="370" data-speed="900" data-start="2200" data-easing="easeOutExpo"><a href="#sao" class="button_slider">S-A-O <i class="fa fa-chevron-circle-right"></i></a></div>
		
                    </li>
                  <% end %>
                  
				</ul>
		
			</div>
		
		</div>

	</div>
	<!-- end slider -->

	<div class="clearfix"></div>