<!doctype html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-gb" class="no-js"> <!--<![endif]-->

<head>
	<title>Simulation-Analysis-Optimization Energy Efficiency | Simulation-Analysis-Optimization Energy Efficiency</title>
	
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
    
    <!-- Favicon --> 
	<link rel="shortcut icon" href="/frontent/images/favicon.ico">
    
    <!-- this styles only adds some repairs on idevices  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- Google fonts - witch you want to use - (rest you can just remove) -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700italic,700,600italic,600,400italic,300italic,300|Roboto:100,300,400,500,700&amp;subset=latin,latin-ext' type='text/css' />
    
    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    
    <!-- ######### CSS STYLES ######### -->
	
    <link rel="stylesheet" href="/frontent/css/reset.css" type="text/css" />
	<link rel="stylesheet" href="/frontent/css/style.css" type="text/css" />
    
    <link rel="stylesheet" href="/frontent/css/font-awesome/css/font-awesome.min.css">
    
    <!-- responsive devices styles -->
	<link rel="stylesheet" media="screen" href="/frontent/css/responsive-leyouts.css" type="text/css" />
    
    <!-- style switcher -->
    <link rel = "stylesheet" media = "screen" href = "/frontent/js/style-switcher/color-switcher.css" />
    
    <!-- sticky menu -->
    <link rel="stylesheet" href="/frontent/js/sticky-menu/core.css">
    
    <!-- REVOLUTION SLIDER -->
    <link rel="stylesheet" type="text/css" href="/frontent/js/revolutionslider/css/fullwidth.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/frontent/js/revolutionslider/rs-plugin/css/settings.css" media="screen" />
    
    <!-- jquery jcarousel -->
    <link rel="stylesheet" type="text/css" href="/frontent/js/jcarousel/skin2.css" />
	
    <!-- iosslider -->
	<link rel = "stylesheet" media = "screen" href = "/frontent/js/iosslider/common.css" />
    
    <!-- tweets -->
    <link rel="stylesheet" href="/frontent/js/testimonials/fadeeffect.css" type="text/css" media="all">
    
    <!-- fancyBox -->
    <link rel="stylesheet" type="text/css" href="/frontent/js/portfolio/source/jquery.fancybox.css" media="screen" />
	<link rel="stylesheet" href="/frontent/js/portfolio/isotope.css">
    
    
</head>

<body>

	<%= yield %>

</body>
</html>
